@CHARSET "UTF-8";


html {
    height: 100%;
}

body{

background: linear-gradient(to bottom, #0e3b47 0%,#0e8f8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.modal-lg {
    width: 1200px;
}

/*The Navbar Settings*/


.btnSuchenNavbar {
	color: #fff !important;
	border: 0px !important;
	background-color: #078C93 !important;
	transition: background-color 1s ease;
	margin-left: 1px !important;
	position: absolute;
	border-radius: 0px !important;
	border-right: 2px solid white !important;
}

.btnSuchenNavbar:hover {
	color: #fff !important;
	background-color: #8DCAC8 !important;
	transition: background-color 0.5s ease;
}

.btnSuche {
	background: #078C93 !important;
	border: none !important;
}

.suchfeldNavbar {
	width: 200px !important;
	height: 2.3em !important;
}

.suchfeldNavbar:focus {
	border: 0px !important;
	box-shadow: 0px !important;
	-webkit-box-shadow: 0px !important;
}

.navbar-brand {
	color: #63BBBA !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background: #BDE0DE !important;
	color: #000000 !important;
}

.navbar-inverse .navbar-nav>.abmeldenLink {
	color: red !important;
}

.bodyContainer {
	padding-top: 5%;
}

.logo {
	position: relative;
	width: 200px;
	height: 50px;
}

.btnNeuesTicket, .btnNeuesPasswort, .btnAenderungen, .btnSuchekriterien,
	.btnNewUser, .btnsKategorie {
	border: none !important;
	width: 100%;
	background-color: rgb(98, 188, 186) !important;
	color: #ffffff !important;
	transition: background-color .6s ease;
}

.btnNeuesTicket:hover, .btnNeuesPasswort:hover, .btnAenderungen:hover,
	.btnNewUser:hover, .btnSuchekriterien:hover, .btnsKategorie:hover {
	border: none !important;
	background-color: rgb(7, 140, 147) !important;
	transition: background-color .8s ease;
}

.passwortFeld {
	padding: 5px !important;
}

/*TABLES*/
.table-bordered {
	border: 0px !important;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: rgba(191, 223, 222, .5) !important;
}

.table-bordered>thead>tr>th {
	border: 1px solid rgb(98, 188, 187) !important;
}

/*ENDE TABLES*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
	input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
	input[type="number"]:focus, .form-control:focus, input[type="email"]:focus,
	input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
	input[type="color"]:focus {
	border-color: rgba(1, 143, 145, .5) !important;
	box-shadow: 0 0 8px rgba(1, 143, 145, .5) !important;
	outline: 0 none !important;
}

/*Navbar Settings End*/

/*
* Panel Settings
* ##############
*/

#welcome{
	color: white;
}
.panelQuick {
	transition: all 1s ease;
	
}

.imageMessages {
	transition: all 1.3s ease;
}

.imageTicket {
	transition: all 1.3s ease;
}

.imageStatus {
	transition: all 1.3s ease;
}

.border {
	border: 1px solid black;
}


.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px!important;
}

.panel-default {
    border-color: #000000!important;
}

.panelMessages:hover .imageMessages {
	transform: scale(1.25) !important;
	transition: all 1.3s ease;
}

.panelMessages:hover .panelQuick {
	cursor: pointer;
	transition: all 1s ease;
}

.panelMessages, .panelTickets, .profilPanel {
	box-shadow: 1px 1px 20px gray!important;
}

.panelTickets:hover .imageTicket {
	transform: scale(1.25) !important;
	transition: all 1.3s ease;
}

.panelTickets:hover .panelQuick {
	cursor: pointer;
	transition: all 1s ease;
}

.panelStatus:hover .panelQuick {
	cursor: pointer;
}

.panel-body {
	text-align: center !important;
}



.imageLogoIubh {
	width: 100% !important;
	
	
}

.navbar-inverse .navbar-nav>.abmeldenLink {
	background: rgba(255, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav>.abmeldenLink:hover {
	background: FF0000 !important;
}

.ticket {
	letter-spacing: 0px;
}

.ticket .panelProfil {
	transition: all 1s ease;
	cursor: pointer;
}

.neuesTicketSpalte  .panelNeu {
	transition: border-left 1s ease;
	box-sizing: border-box;
	border-top: 70px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: 70px solid transparent;
	font-size: 0.3em;
	line-height: 0.3em;
	cursor: default;
}

#profilColumn  .neuesBildBtn {
	position: absolute;
}

.profilBild {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	border-radius: 50%;
}

.neuesBildBtn {
	width: 100%;
	margin-top: 10px;
}

.neuesTicketSpalte:hover .panelNeu {
	box-sizing: border-box;
	border-top: 70px solid transparent;
	border-left: 40px solid rgba(46, 143, 143, 1);
	border-bottom: 70px solid transparent;
	font-size: 0.3em;
	cursor: pointer;
}

.btnKategorie {
	width: 100%;
	margin: 2% 0;
	border: none !important;
	width: 100%;
	background-color: rgb(98, 188, 186) !important;
	color: #ffffff !important;
	transition: background-color .6s ease;
}

.btnKategorie:hover {
	border: none !important;
	background-color: rgb(7, 140, 147) !important;
	transition: background-color .8s ease;
}

.profilColumn {
	text-align: center;
}

.hiding, .logoPanel {
	display: none;
}

.iconProfil {
	font-size: 7em !important;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 900000;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 10%;
	width: 100%;
	color: white;
	text-align: center;
	margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 1.2em;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.listboxen {
	width: 100%;
}

/*End Panel Settings*/

/*Media Screen for Mobile Devices*/
@media screen and (max-width: 765px) {
	.btnSuchenNavbar {
		width: 90% !important;
		text-align: center;
		margin: 5% 5% !important;
	}
	.suchfeldNavbar {
		width: 90% !important;
		margin: auto 5% !important;
	}
	.navbar-inverse .navbar-nav>li {
		margin-left: 5% !important;
	}
	.navbar-collapse {
		height: 320px !important;
	}
}
