@CHARSET "UTF-8";

html {
	height: 100%!important;
	
}

body {
	
	padding-top: 10%;
	background: linear-gradient(to bottom, #0e3b47 0%, #0e8f8f 100%);
	
}

a{
	color: white!important;
}

.imgLogo {
	width: 40%;
	margin-left: 30%;
	margin-right: 0%;
}


.loginHeader {
	text-decoration: underline;
	margin-bottom: 8%;
	color: white;
}

#loginForm{
	padding-top: 2%;
}


.loginPanel {
	width: 45% !important;
	float: none !important;
}

.loginButton {
	color:black!important;
	width: 100%;
	background-color: rgba(0, 148, 146, 0.8) !important;
	border: 0px;
	font-size: 2em !important;
	letter-spacing: 1px;
	border: 0px;
	margin-bottom: 5% !important;
	filter: none;
	overflow: hidden;
}

.loginButton:hover {
	border-color: rgb(31, 153, 214);
	padding-right: 30px!;
	color: #ffffff;
	transition: all 0.9s ease;
}

.loginButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 2.5s;
}

.loginButton:hover span {
	padding-right: 30px;
	color: #ffffff;
	letter-spacing: 3px;
	transition: all 0.9s ease;
}

.loginButton span:after {
	font-family: FontAwesome;
	content: "\f101";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.loginButton:hover span:after {
	opacity: 1;
	right: 0px;
}

.loginButton:after {
	width: 100%;
	background-color: white;
	border: 0px;
	font-size: 2em;
}

.panelPW {
	display: none;
}

.linkForgottPw {
	margin-left: 35%;
	float: none !important;
}

.btnPasswortVergessenBestätigen, .btnRegistrieren {
	width: 100%;
	background-color: rgba(0, 148, 146, 0.8) !important;
	border: 0px !important;
}

.btnPasswortVergessenBestätigen:hover, .btnRegistrieren:hover {
	background-color: rgba(0, 148, 146, 1) !important;
}

/*Media Screen for Mobile Devices*/
@media screen and (max-width: 480px) {
	.loginPanel {
		width: 65% !important;
	}
	.loginButton {
		letter-spacing: 0px;
	}
	.loginButton:hover span {
		letter-spacing: 1px !important;
	}
	.loginButton span:after {
		right: 0px !important;
	}
	.logo {
		margin-left: 0% !important;
		width: 100% !important;
	}
}