@CHARSET "UTF-8";

.btnNewUser {
	width: 100% !important;
	background: rgb(2, 143, 145) !important;
	color: #ffffff !important;
	letter-spacing: 1px !important;
	transition: all 1s ease;
}

.btnNewUser:hover {
	
	color: #000000 !important;
	transition: all 1s ease;
}

.newUser {
	
}